<!-- <div id="disqus_container">
  <div class="share-con">
    <script type="text/javascript" charset="utf-8">
      (function(){
        var param = {
          url: 'http://beiyuu.com{{ page.url }}',
          type: '6',
          title: '《{{ page.title }}》' + '- {{ page.description }}',
          ralateUid: '1855270953',
          rnd:new Date().valueOf()
        }
        var temp = [];
        for( var p in param ){
          temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
        }
        document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="86" height="16"></iframe>')
      })()
    </script>
  </div>

  <a href="#" class="comment" onclick="return false;">点击查看评论</a>
  <div id="disqus_thread"></div>
</div> -->
<!-- <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'erdongxie',
    repo: 'erdongxie.github.io',
    oauth: {
        client_id: '5ae8170c51d66f1e678e',
        client_secret: '30cff8d59d4926896c50efd33a905a42547e9497',
    },
});
gitment.render('gitmentContainer');
</script> -->
<div id="gitalk-container"></div>
<script>
var gitalk = new Gitalk({
  clientID: 'GitHub Application Client ID',
  clientSecret: 'GitHub Application Client Secret',
  repo: 'erdongxie',
  owner: 'erdongxie.github.io',
  admin: ['erdongxie'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
gitalk.render('gitalk-container')
</script>