---
layout: default
---

<body class="body-post">
  <div class="post-wrapper">
    <h1 class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>
    {{ content }}
  </div>
  <div id="gitmentContainer"></div>
  <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
  <script src="https://billts.site/js/gitment.js"></script>
  <script>
  var gitment = new Gitment({
      id: '<%= page.date %>',
      owner: 'erdongxie',
      repo: 'erdongxie.github.io',
      oauth: {
          client_id: '5ae8170c51d66f1e678e',
          client_secret: '89bc157b748ab8805d29cba2138fad3b601cf0d1',
      },
  });
  gitment.render('gitmentContainer');
  </script>
  <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/js/post.js" type="text/javascript"></script>
</body>
